* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font: 16px sans-serif;
    list-style: none;
    text-decoration: none;
    transition: 0.2s ease;
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    background-color: #f8f8f8;
}
body::-webkit-scrollbar {
    display: none;
}

.error {
    width: 100%;
    position: absolute;
    top: 70px;
    z-index: 2;
}

.error .errorBox {
    margin: 0 auto;
    width: 300px;
    height: auto;
    background-color: #e25656;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.error .errorBox .container {
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;  
    padding: 10px 20px;
}

.error .errorBox h1 {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}
header .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header .logoArea img {
    width: 60px;
}

header .logoArea img:hover {
    opacity: 80%;
}

header .logoArea .siteName {
    display: none;
}

header .logoArea .siteName h1 {
    font-size: 28px;
    color: black;
    font-weight: bold;
    line-height: 60px;
}

header .logoArea .siteName h1 .highlight {
    color: orange;
    font-size: 28px;
    font-weight: bold;
}

header .navBar ul li {
    display: inline-block;
    margin: 0 5px;
}

header .navBar ul li a {
    color: black;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

header .navBar ul li a.active {
    color: orange;
}

header .navBar ul li a:hover {
    color: rgb(99, 202, 159);
}

header .menuArea {
    display: none;
}

header .menuArea .menuBtn {
    font-size: 30px;
    cursor: pointer;
    line-height: 60px;
}

#hero-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../img/ecole.jpg");
    background-size: cover;
    background-position: center;
}

#hero-banner .textArea {
    text-align: center;
    padding-top: 200px;
}

#hero-banner .textArea h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

#hero-banner .textArea h1 .highlight {
    color: orange;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

#hero-banner .textArea p {
    color: white;
    font-size: 20px;
    width: 50%;
    margin: auto;
    text-shadow: 2px 2px 2px black;
}

#hero-banner .textArea .btn {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(99, 202, 159);
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#hero-banner .textArea .btn:hover {
    background-color: #1f2024;
}

main {
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: auto;
    margin-top: 40px;
}

main .main-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 25%;
    column-gap: 5%;
}

section .article-area {
    /*display: grid; pour activer des petit block/article*/
    display: block;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
}

section .buttonArea {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

section .buttonArea .btn {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(99, 202, 159);
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

section .buttonArea .btn:hover {
    background-color: #1f2024;
}


article {
    height: auto;
    margin-bottom: 20px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

article {
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

article .article-container {
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

article .article-area {
    width: 75px; /* Ajustez la largeur selon vos besoins */
    height: 75px; /* Ajustez la hauteur selon vos besoins */
    border-radius: 50%;
    margin-bottom: 20px; /* Espace entre l'image et le texte */
}


article img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

article img:hover {
    opacity: 90%;
}

article h1 {
    color: black;
}

article hr {
    border: 2px solid #e0e0e0;
    margin-bottom: 4px;
}

article h1 a {
    color: black;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

article h1 a:hover {
    color: #75dab0;
}

article h2 {
    margin-bottom: 10px;
    color: #aaaaaa;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

article h2 a {
    color: #aaaaaa;
}

article h2 a:hover {
    color: #75dab0;
}

article p {
    font-size: 16px;
    color: #65656a;
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    /* TEXT LENGHT */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

aside .box {
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}
aside .box .container {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 100%;
}
aside .box h1 {
    color: #75dab0;
    font-size: 22px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

aside hr {
    border: 2px solid #e0e0e0;
    margin-bottom: 10px;
}

aside .box_about .container{
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    align-items: center;
    display: flex; /* Ajout de flex pour aligner les éléments horizontalement */
    flex-direction: column; /* Alignement vertical des éléments */
    align-items: center; /* Centre les éléments horizontalement */
}

aside .box_about .container .post img {
    width: 75px; /* Ajustez la largeur selon vos besoins */
    height: 75px; /* Ajustez la hauteur selon vos besoins */
    border-radius: 50%;
    margin-bottom: 25px; /* Espace entre l'image et le texte */
}

aside .box_about .post {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
}

aside .box_about .post img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 0;
}

aside .box_about .post h2 {
    display: inline-block;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
}


aside .box_about .post img:hover {
    opacity: 80%;
}

aside .h1about {
    display: inline-block;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

aside .box_about .container .post h2 {
    display: inline-block;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin: 15%;
}
aside .box_about .post h3 {
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

aside .box_about .post h2:hover,
aside .box_about .post h3:hover {
    color: #75dab0;
}

footer {
    width: 100%;
    height: auto;
    background-color: #1f2024;
}

footer .navBar {
    padding: 20px 0 10px 0;
    text-align: center;
}

footer .navBar li {
    display: inline-block;
    margin: 0 10px;
}

footer .navBar li a {
    color: white;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

footer .navBar li a:hover {
    color: #0ee6af;
}

footer .textArea {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0 30px 0;
}

footer .textArea h1 {
    color: white;
    margin: 5px 15px;
}

footer .textArea .red {
    color: red;
}

footer .textArea .colored {
    color: #0ee6af;
}

@media screen and (max-width: 1120px) {
    header .menuArea {
        display: block;
    }

    header .logoArea .image {
        display: none;
    }

    header .logoArea .siteName {
        display: block;
        width: 220px;
    }

    header .navBar {
        width: 100%;
        background-color: #1f2024;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
    }

    header .navBar.open {
        visibility: visible;
    }

    header .navBar ul {
        padding: 0 30px;
    }

    header .navBar ul li {
        display: block;
        margin: 15px 0;
    }
    header .navBar ul li a {
        color: white;
    }
    #banner {
        height: 500px;
    }

    #banner .textArea {
        padding-top: 140px;
    }

    #banner .textArea h1 {
        font-size: 44px;
    }

    #banner .textArea p {
        font-size: 16px;
        width: 60%;
    }
    main .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    #banner .textArea p {
        width: 80%;
    }
    main .main-container {
        grid-template-columns: 100%;
    }
    aside .popularPost .post {
        grid-template-columns: 30% 67%;
        column-gap: 3%;
    }
    aside .box_about .post {
        grid-template-columns: 20% 77%;
        column-gap: 3%;
    }
    aside .popularPost .post h2,
    aside .box_about .post h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 620px) {
    #banner {
        height: 450px;
    }
    section .article-area {
        grid-template-columns: 100%;
    }
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Définissez l'animation avec @keyframes */
@keyframes slideInFromLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-left-to-right {
    opacity: 0; /* Opacité à 0 par défaut */
    transform: translateX(-100%); /* Déplacez la zone d'articles à gauche de l'écran */
    animation: slideInFromLeft 0.5s ease forwards; /* Utilisez une animation définie par @keyframes */
}

.animate-right-to-left {
    opacity: 0; /* Opacité à 0 par défaut */
    transform: translateX(+100%); /* Déplacez la zone d'articles à gauche de l'écran */
    animation: slideInFromLeft 0.5s ease forwards; /* Utilisez une animation définie par @keyframes */
}

.animate-right-to-left-delay-1s {
    opacity: 0; /* Opacité à 0 par défaut */
    transform: translateX(+100%); /* Déplacez la zone d'articles à gauche de l'écran */
    animation: slideInFromLeft 0.5s ease forwards; /* Utilisez une animation définie par @keyframes */
    animation-delay: 0.1s;
}

/* Styles pour toutes les tailles d'écran */
/* Styles pour toutes les tailles d'écran */
.bouton-ecole {
    position: absolute;
    top: 385px; /* Ajustez la valeur de 'top' en fonction de la position souhaitée */
    left: 620px; /* Ajustez la valeur de 'left' en fonction de la position souhaitée */
    width: 265px; /* Ajustez la largeur si nécessaire */
    height: 65px; /* Ajustez la hauteur si nécessaire */
    background-color: transparent; /* Rend le bouton invisible */
    border: none;
    outline: none;
    font-size: 0; /* Rend le texte invisible */
    color: transparent; /* Rend le texte invisible */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
}

/* Styles spécifiques pour les écrans de bureau (par exemple, avec une largeur minimale de 768 pixels) */
@media only screen and (min-width: 1250px) {
    .bouton-ecole {
        /* Ajoutez des styles spécifiques pour les écrans de bureau ici */
        /* Par exemple, vous pouvez rendre le bouton actif en ajustant les styles ou en modifiant la couleur */
        background-color: transparent; /* Exemple de couleur pour le bouton actif sur PC */
    }

    .bouton-sonnerie {
        display: none;
    }
}

.bouton-sonnerie {
    position: absolute;
    top: 65px; /* Ajustez la valeur de 'top' en fonction de la position souhaitée */
    left: 725px; /* Ajustez la valeur de 'left' en fonction de la position souhaitée */
    width: 70px; /* Ajustez la largeur si nécessaire */
    height: 65px; /* Ajustez la hauteur si nécessaire */
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 0; /* Rend le texte invisible */ 
    cursor: pointer; /* Ajoutez un pointeur pour indiquer que le bouton est cliquable */
    display: block; /* Affiche le bouton par défaut */
}
